@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply text-gray-900;
}

@layer base {
  html {
    @apply bg-gray-50;
  }

  body {
    position: relative;
    min-height: 100vh;
  }

  #__next {
    position: relative;
  }

  a {
    @apply text-blue-600;
  }

  a:hover {
    @apply text-blue-700 underline;
  }

  .field-sub-group + .field-sub-group {
    @apply border-t-0 -mt-4;
  }

  .prose-sm ol li {
    @apply list-decimal;
  }

  .prose-sm ul li {
    @apply list-disc;
  }

  .prose-sm ul li::marker {
    @apply text-gray-400;
  }

  /* React Slider */

  .slider {
    @apply h-3.5;
  }

  .slider .track {
    @apply mt-1 h-1.5 bg-gray-300 rounded-full;
  }

  .slider .track.track-0 {
    @apply bg-blue-500 rounded-full;
  }

  .slider .thumb {
    @apply h-3.5 w-3.5 bg-blue-500 rounded-full;
    transition: box-shadow 0.15s ease;
  }

  .slider .thumb:focus {
    outline: none;
  }

  .slider .thumb:focus-visible {
    @apply ring-2 ring-offset-2;
  }

  .slider .mark {
    @apply ml-1.5 h-3.5 w-0.5 bg-gray-300;
  }

  .slider .active-mark {
    @apply bg-blue-500;
  }

  /* Tooltips */

  .tooltip a, .tooltip a:hover {
    @apply text-blue-300;
  }

  .tooltip a[data-footnote-ref="true"] {
    pointer-events: none;
    @apply text-white;
  }
  .tooltip a[data-footnote-ref="true"]::before {
    content: "["
  }
  .tooltip a[data-footnote-ref="true"]::after {
    content: "]"
  }

  .tooltip a[data-footnote-backref="true"] {
    display: none;
  }

  .tooltip .footnotes {
    @apply text-xs text-gray-300 -mb-3;
  }
}
